# 2019년 데이터 전처리

In [1]:
import pandas as pd
import numpy as np

In [10]:
# 그룹별로 묶어진 2019년 데이터 불러오기

Area_A_2019 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2019_preprocess/2019_Area_A.csv')
Area_B_2019 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2019_preprocess/2019_Area_B.csv')
Area_C_2019 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2019_preprocess/2019_Area_C.csv')
Area_D_2019 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2019_preprocess/2019_Area_D.csv')
Area_E_2019 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2019_preprocess/2019_Area_E.csv')
Area_F_2019 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2019_preprocess/2019_Area_F.csv')
Area_G_2019 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2019_preprocess/2019_Area_G.csv')
Area_H_2019 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2019_preprocess/2019_Area_H.csv')

In [11]:
# 불러온 데이터의 전체 개수 확인

print(len(Area_A_2019) + len(Area_B_2019) + len(Area_C_2019) + len(Area_D_2019) 
      + len(Area_E_2019) + len(Area_F_2019) + len(Area_G_2019) + len(Area_H_2019))

84702

In [98]:
# Area_A ~ Area_H 까지의 데이터프레임을 하나의 데이터프레임으로 만들기

df2019 = pd.concat([Area_A_2019, Area_B_2019, Area_C_2019, 
                    Area_D_2019, Area_E_2019, Area_F_2019, Area_G_2019, Area_H_2019]) # 파일 합치기
df2019.drop('id', axis=1, inplace=True) #'id' 열 drop
df2019.reset_index(inplace=True) # index 번호 재설정
df2019.drop('index', axis=1,inplace=True) # index 열 삭제
df2019.drop('field_1', axis=1,inplace=True) # filed_1 열 삭제
df2019

,name,f_name,track_length,top_speed,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_log,p1_time
0,Area_A,done_1000107.gpx,9.320403,7.409756,67.969316,720.919305,10778,4874,733.944417,37.658152,126.945689,2019/03/30 08:50:07
1,Area_A,done_1000237.gpx,6.942576,4.591195,93.000000,855.000000,8821,7403,839.243529,37.655048,126.949383,2019/03/30 08:46:22
2,Area_A,done_1000255.gpx,7.071574,4.968819,78.613829,846.806536,8981,7881,865.618865,37.655126,126.949188,2019/03/30 08:36:52
3,Area_A,done_1000280.gpx,14.272724,7.986318,93.464326,595.029909,13797,11218,866.501397,37.656531,126.948402,2019/03/30 06:21:24
4,Area_A,done_1000332.gpx,7.387478,5.140643,0.000000,828.511012,10638,5779,1126.769265,37.655091,126.949762,2019/03/30 08:48:12
...,...,...,...,...,...,...,...,...,...,...,...,...
84697,Area_H,done_997163.gpx,2.562580,5.622266,140.466822,375.207855,3248,1888,250.897554,37.620127,126.936631,2019/03/09 12:01:51
84698,Area_H,done_997845.gpx,0.960750,9.481209,57.000000,136.700000,968,516,79.781414,37.609766,126.935030,2019/03/30 10:32:40
84699,Area_H,done_998345.gpx,4.929962,6.341899,41.052109,363.586952,5488,1451,355.705408,37.611322,126.930609,2019/03/30 09:37:16
84700,Area_H,done_998754.gpx,2.699804,6.672342,40.159577,133.159446,2981,469,105.146310,37.615151,126.931100,2019/03/30 11:00:18
84701,Area_H,done_999912.gpx,5.790648,5.902348,114.826148,574.743372,6475,5330,392.774636,37.616228,126.939565,2019/03/30 09:44:38

In [21]:
# 통계 excel 파일 불러오기

xlsx2019 = pd.read_excel('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터/국립공원공단_북한산트레킹2019_2020_이용자연령성별데이터.xlsx', header=1)
xlsx2019 = xlsx2019[['번호', '소모Kcal','운동 종목', '성별', '연령','gpx파일']]
xlsx2019

             번호  소모Kcal    운동 종목    성별  연령             gpx파일
0       5461457  1375.9   HIKING  MALE  20  done_5461457.gpx
1       5450287   226.4   HIKING  MALE  20  done_5450287.gpx
2       5438706   367.2   HIKING  MALE  20  done_5438706.gpx
3       5400378   506.0   HIKING  MALE  20  done_5400378.gpx
4       5333233   825.2   HIKING  MALE  20  done_5333233.gpx
...         ...     ...      ...   ...  ..               ...
154563     5642  1170.5  WALKING  MALE  65     done_5642.gpx
154564     4772   141.4  WALKING  MALE  65     done_4772.gpx
154565     4497   448.1  WALKING  MALE  65     done_4497.gpx
154566     2076    81.8  WALKING  MALE  65     done_2076.gpx
154567     1140   296.0  WALKING  MALE  65     done_1140.gpx

[154568 rows x 6 columns]

In [24]:
# 열 이름 바꾸기
xlsx2019 = xlsx2019.rename({'gpx파일' : 'f_name',
                            '번호':'number', 
                            '소모Kcal': 'Kcal', 
                            '운동 종목':'sports_type',
                            '성별':'sex',
                            '연령':'age'}, axis=1)
xlsx2019

         number    Kcal sports_type   sex  age            f_name
0       5461457  1375.9      HIKING  MALE   20  done_5461457.gpx
1       5450287   226.4      HIKING  MALE   20  done_5450287.gpx
2       5438706   367.2      HIKING  MALE   20  done_5438706.gpx
3       5400378   506.0      HIKING  MALE   20  done_5400378.gpx
4       5333233   825.2      HIKING  MALE   20  done_5333233.gpx
...         ...     ...         ...   ...  ...               ...
154563     5642  1170.5     WALKING  MALE   65     done_5642.gpx
154564     4772   141.4     WALKING  MALE   65     done_4772.gpx
154565     4497   448.1     WALKING  MALE   65     done_4497.gpx
154566     2076    81.8     WALKING  MALE   65     done_2076.gpx
154567     1140   296.0     WALKING  MALE   65     done_1140.gpx

[154568 rows x 6 columns]

In [25]:
# 2019년 통계파일과 범위별 csv파일 합치기
df2019_all = pd.merge(df2019,xlsx2019,on='f_name',how='outer')
df2019_all

,name,f_name,track_length,top_speed,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_log,p1_time,number,Kcal,sports_type,sex,age
0,Area_A,done_1000107.gpx,9.320403,7.409756,67.969316,720.919305,10778.0,4874.0,733.944417,37.658152,126.945689,2019/03/30 08:50:07,1000107,868.4,HIKING,MALE,50
1,Area_A,done_1000237.gpx,6.942576,4.591195,93.000000,855.000000,8821.0,7403.0,839.243529,37.655048,126.949383,2019/03/30 08:46:22,1000237,1041.5,HIKING,MALE,50
2,Area_A,done_1000255.gpx,7.071574,4.968819,78.613829,846.806536,8981.0,7881.0,865.618865,37.655126,126.949188,2019/03/30 08:36:52,1000255,750.7,HIKING,MALE,55
3,Area_A,done_1000280.gpx,14.272724,7.986318,93.464326,595.029909,13797.0,11218.0,866.501397,37.656531,126.948402,2019/03/30 06:21:24,1000280,903.8,HIKING,MALE,55
4,Area_A,done_1000332.gpx,7.387478,5.140643,0.000000,828.511012,10638.0,5779.0,1126.769265,37.655091,126.949762,2019/03/30 08:48:12,1000332,474.7,HIKING,MALE,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154563,NaN,done_5642.gpx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5642,1170.5,WALKING,MALE,65
154564,NaN,done_4772.gpx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4772,141.4,WALKING,MALE,65
154565,NaN,done_4497.gpx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4497,448.1,WALKING,MALE,65
154566,NaN,done_2076.gpx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2076,81.8,WALKING,MALE,65
154567,NaN,done_1140.gpx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1140,296.0,WALKING,MALE,65

In [33]:
# 2019년 데이터  결측값이 있는 열 제거
df2019_all.dropna(inplace=True)

# 성별의 'NONE'을 결측값으로 바꾸기
df2019_all['sex'].replace('NONE',np.nan, inplace=True)

#결측값이 있는 열 제거
df2019_all.dropna(inplace=True)
df2019_all

,name,f_name,track_length,top_speed,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_log,p1_time,number,Kcal,sports_type,sex,age
0,Area_A,done_1000107.gpx,9.320403,7.409756,67.969316,720.919305,10778.0,4874.0,733.944417,37.658152,126.945689,2019/03/30 08:50:07,1000107,868.4,HIKING,MALE,50
1,Area_A,done_1000237.gpx,6.942576,4.591195,93.000000,855.000000,8821.0,7403.0,839.243529,37.655048,126.949383,2019/03/30 08:46:22,1000237,1041.5,HIKING,MALE,50
2,Area_A,done_1000255.gpx,7.071574,4.968819,78.613829,846.806536,8981.0,7881.0,865.618865,37.655126,126.949188,2019/03/30 08:36:52,1000255,750.7,HIKING,MALE,55
3,Area_A,done_1000280.gpx,14.272724,7.986318,93.464326,595.029909,13797.0,11218.0,866.501397,37.656531,126.948402,2019/03/30 06:21:24,1000280,903.8,HIKING,MALE,55
4,Area_A,done_1000332.gpx,7.387478,5.140643,0.000000,828.511012,10638.0,5779.0,1126.769265,37.655091,126.949762,2019/03/30 08:48:12,1000332,474.7,HIKING,MALE,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84697,Area_H,done_997163.gpx,2.562580,5.622266,140.466822,375.207855,3248.0,1888.0,250.897554,37.620127,126.936631,2019/03/09 12:01:51,997163,276.4,HIKING,MALE,60
84698,Area_H,done_997845.gpx,0.960750,9.481209,57.000000,136.700000,968.0,516.0,79.781414,37.609766,126.935030,2019/03/30 10:32:40,997845,54.6,WALKING,MALE,65
84699,Area_H,done_998345.gpx,4.929962,6.341899,41.052109,363.586952,5488.0,1451.0,355.705408,37.611322,126.930609,2019/03/30 09:37:16,998345,552.8,HIKING,MALE,55
84700,Area_H,done_998754.gpx,2.699804,6.672342,40.159577,133.159446,2981.0,469.0,105.146310,37.615151,126.931100,2019/03/30 11:00:18,998754,196.0,WALKING,MALE,45
84701,Area_H,done_999912.gpx,5.790648,5.902348,114.826148,574.743372,6475.0,5330.0,392.774636,37.616228,126.939565,2019/03/30 09:44:38,999912,578.4,HIKING,MALE,55

In [38]:
# groupby로 나이와 성별로 묶기
count_2019 = df2019_all.groupby(['age', 'sex']).count()
count_2019

             name  f_name  track_length  top_speed  lowest_ele  top_ele  \
age sex
20  FEMALE     10      10            10         10          10       10
    MALE       33      33            33         33          33       33
25  FEMALE    214     214           214        214         214      214
    MALE      229     229           229        229         229      229
30  FEMALE    508     508           508        508         508      508
    MALE      600     600           600        600         600      600
35  FEMALE    580     580           580        580         580      580
    MALE     1384    1384          1384       1384        1384     1384
40  FEMALE    718     718           718        718         718      718
    MALE     4316    4316          4316       4316        4316     4316
45  FEMALE   2046    2046          2046       2046        2046     2046
    MALE     6598    6598          6598       6598        6598     6598
50  FEMALE   4441    4441          4441       4441        4441     4441
    MALE    15018   15018         15018      15018       15018    15018
55  FEMALE   3691    3691          3691       3691        3691     3691
    MALE    17607   17607         17607      17607       17607    17607
60  FEMALE   2517    2517          2517       2517        2517     2517
    MALE    15474   15474         15474      15474       15474    15474
65  FEMALE    588     588           588        588         588      588
    MALE     7820    7820          7820       7820        7820     7820

            moving_time  stopped_time  elevation_gain  p1_lat  p1_log  \
age sex
20  FEMALE           10            10              10      10      10
    MALE             33            33              33      33      33
25  FEMALE          214           214             214     214     214
    MALE            229           229             229     229     229
30  FEMALE          508           508             508     508     508
    MALE            600           600             600     600     600
35  FEMALE          580           580             580     580     580
    MALE           1384          1384            1384    1384    1384
40  FEMALE          718           718             718     718     718
    MALE           4316          4316            4316    4316    4316
45  FEMALE         2046          2046            2046    2046    2046
    MALE           6598          6598            6598    6598    6598
50  FEMALE         4441          4441            4441    4441    4441
    MALE          15018         15018           15018   15018   15018
55  FEMALE         3691          3691            3691    3691    3691
    MALE          17607         17607           17607   17607   17607
60  FEMALE         2517          2517            2517    2517    2517
    MALE          15474         15474           15474   15474   15474
65  FEMALE          588           588             588     588     588
    MALE           7820          7820            7820    7820    7820

            p1_time  number   Kcal  sports_type
age sex
20  FEMALE       10      10     10           10
    MALE         33      33     33           33
25  FEMALE      214     214    214          214
    MALE        229     229    229          229
30  FEMALE      508     508    508          508
    MALE        600     600    600          600
35  FEMALE      580     580    580          580
    MALE       1384    1384   1384         1384
40  FEMALE      718     718    718          718
    MALE       4316    4316   4316         4316
45  FEMALE     2046    2046   2046         2046
    MALE       6598    6598   6598         6598
50  FEMALE     4441    4441   4441         4441
    MALE      15018   15018  15018        15018
55  FEMALE     3691    3691   3691         3691
    MALE      17607   17607  17607        17607
60  FEMALE     2517    2517   2517         2517
    MALE      15474   15474  15474        15474
65  FEMALE      588     588    588          588
    MALE       7820    7820   7820         7820

In [39]:
# top_speed의 이상치를 알아보기 위한 작업

# box plot의 이상치
Q1_speed = df2019_all['top_speed'].quantile(0.25)
Q3_speed = df2019_all['top_speed'].quantile(0.75)
IQR_speed = Q3_speed - Q1_speed

upper_bound_speed = Q3_speed + (IQR_speed*1.5) # 이상치 상한선
lower_bound_speed = Q1_speed - (IQR_speed*1.5) # 이상치 하한선

In [40]:
print(upper_bound_speed)
print(Q3_speed)

11.164806868748277
7.87734215616645

In [83]:
# 상한선 이상의 행 개수
df2019_all['top_speed'].loc[df2019_all['top_speed'] > upper_bound_speed].count()

8695

In [84]:
# 인간이 달릴 수 있는 최고 속도가 45km/h -> 구글링 결과
# top_speed가 45 이상인 값 제거하기

df2019_speed = df2019_all.loc[df2019_all['top_speed'] < 45]
df2019_speed

,name,f_name,track_length,top_speed,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_log,p1_time,number,Kcal,sports_type,sex,age
0,Area_A,done_1000107.gpx,9.320403,7.409756,67.969316,720.919305,10778.0,4874.0,733.944417,37.658152,126.945689,2019/03/30 08:50:07,1000107,868.4,HIKING,MALE,50
1,Area_A,done_1000237.gpx,6.942576,4.591195,93.000000,855.000000,8821.0,7403.0,839.243529,37.655048,126.949383,2019/03/30 08:46:22,1000237,1041.5,HIKING,MALE,50
2,Area_A,done_1000255.gpx,7.071574,4.968819,78.613829,846.806536,8981.0,7881.0,865.618865,37.655126,126.949188,2019/03/30 08:36:52,1000255,750.7,HIKING,MALE,55
3,Area_A,done_1000280.gpx,14.272724,7.986318,93.464326,595.029909,13797.0,11218.0,866.501397,37.656531,126.948402,2019/03/30 06:21:24,1000280,903.8,HIKING,MALE,55
4,Area_A,done_1000332.gpx,7.387478,5.140643,0.000000,828.511012,10638.0,5779.0,1126.769265,37.655091,126.949762,2019/03/30 08:48:12,1000332,474.7,HIKING,MALE,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84697,Area_H,done_997163.gpx,2.562580,5.622266,140.466822,375.207855,3248.0,1888.0,250.897554,37.620127,126.936631,2019/03/09 12:01:51,997163,276.4,HIKING,MALE,60
84698,Area_H,done_997845.gpx,0.960750,9.481209,57.000000,136.700000,968.0,516.0,79.781414,37.609766,126.935030,2019/03/30 10:32:40,997845,54.6,WALKING,MALE,65
84699,Area_H,done_998345.gpx,4.929962,6.341899,41.052109,363.586952,5488.0,1451.0,355.705408,37.611322,126.930609,2019/03/30 09:37:16,998345,552.8,HIKING,MALE,55
84700,Area_H,done_998754.gpx,2.699804,6.672342,40.159577,133.159446,2981.0,469.0,105.146310,37.615151,126.931100,2019/03/30 11:00:18,998754,196.0,WALKING,MALE,45
84701,Area_H,done_999912.gpx,5.790648,5.902348,114.826148,574.743372,6475.0,5330.0,392.774636,37.616228,126.939565,2019/03/30 09:44:38,999912,578.4,HIKING,MALE,55

In [42]:
# top_speed가 상한선 이상인 것을 제거 -> 사용 안 함

df2019_all_re = df2019_all.loc[df2019_all['top_speed'] < upper_bound_speed]

In [46]:
# 마라톤 거리 / 마라톤 최고 기록

42.195/2.0275

20.811344019728732

In [85]:
# 트랙 길이 / 움직인 시간(hour)

df2019_speed['dist/hour'] = df2019_speed['track_length']/(df2010_speed['moving_time']/3600)

<ipython-input-85-e97a8af16eb6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019_speed['dist/hour'] = df2019_speed['track_length']/(df2010_speed['moving_time']/3600)

In [86]:
# 거리/시간의 값이 30 이상인 것 제거하기

df2019_speed.loc[df2019_speed['dist/hour']>30].count()
df2019_dist = df2019_speed.loc[df2019_speed['dist/hour']<30]

In [75]:
# 고도의 최저값이 0 이하인 것 제거하기

df2019_dist.loc[df2019_dist['lowest_ele']<0].count()
df2019_fin = df2019_dist.loc[df2019_dist['lowest_ele']>0]
df2019_fin

,name,f_name,track_length,top_speed,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_log,p1_time,number,Kcal,sports_type,sex,age,dist/hour
0,Area_A,done_1000107.gpx,9.320403,7.409756,67.969316,720.919305,10778.0,4874.0,733.944417,37.658152,126.945689,2019/03/30 08:50:07,1000107,868.4,HIKING,MALE,50,3.113142
1,Area_A,done_1000237.gpx,6.942576,4.591195,93.000000,855.000000,8821.0,7403.0,839.243529,37.655048,126.949383,2019/03/30 08:46:22,1000237,1041.5,HIKING,MALE,50,2.833383
2,Area_A,done_1000255.gpx,7.071574,4.968819,78.613829,846.806536,8981.0,7881.0,865.618865,37.655126,126.949188,2019/03/30 08:36:52,1000255,750.7,HIKING,MALE,55,2.834614
3,Area_A,done_1000280.gpx,14.272724,7.986318,93.464326,595.029909,13797.0,11218.0,866.501397,37.656531,126.948402,2019/03/30 06:21:24,1000280,903.8,HIKING,MALE,55,3.724129
5,Area_A,done_1000362.gpx,9.686142,5.252011,37.080000,686.458333,11799.0,2432.0,745.818283,37.653390,126.939113,2019/03/30 09:23:18,1000362,993.1,HIKING,MALE,60,2.955344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84697,Area_H,done_997163.gpx,2.562580,5.622266,140.466822,375.207855,3248.0,1888.0,250.897554,37.620127,126.936631,2019/03/09 12:01:51,997163,276.4,HIKING,MALE,60,2.840298
84698,Area_H,done_997845.gpx,0.960750,9.481209,57.000000,136.700000,968.0,516.0,79.781414,37.609766,126.935030,2019/03/30 10:32:40,997845,54.6,WALKING,MALE,65,3.573036
84699,Area_H,done_998345.gpx,4.929962,6.341899,41.052109,363.586952,5488.0,1451.0,355.705408,37.611322,126.930609,2019/03/30 09:37:16,998345,552.8,HIKING,MALE,55,3.233940
84700,Area_H,done_998754.gpx,2.699804,6.672342,40.159577,133.159446,2981.0,469.0,105.146310,37.615151,126.931100,2019/03/30 11:00:18,998754,196.0,WALKING,MALE,45,3.260414
84701,Area_H,done_999912.gpx,5.790648,5.902348,114.826148,574.743372,6475.0,5330.0,392.774636,37.616228,126.939565,2019/03/30 09:44:38,999912,578.4,HIKING,MALE,55,3.219511

In [92]:
#df2019_fin.reset_index(inplace=True)
df2019_fin.drop('index', axis=1, inplace=True)
df2019_fin

C:\Users\Public\anaconda3\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,name,f_name,track_length,top_speed,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_log,p1_time,number,Kcal,sports_type,sex,age,dist/hour
0,Area_A,done_1000107.gpx,9.320403,7.409756,67.969316,720.919305,10778.0,4874.0,733.944417,37.658152,126.945689,2019/03/30 08:50:07,1000107,868.4,HIKING,MALE,50,3.113142
1,Area_A,done_1000237.gpx,6.942576,4.591195,93.000000,855.000000,8821.0,7403.0,839.243529,37.655048,126.949383,2019/03/30 08:46:22,1000237,1041.5,HIKING,MALE,50,2.833383
2,Area_A,done_1000255.gpx,7.071574,4.968819,78.613829,846.806536,8981.0,7881.0,865.618865,37.655126,126.949188,2019/03/30 08:36:52,1000255,750.7,HIKING,MALE,55,2.834614
3,Area_A,done_1000280.gpx,14.272724,7.986318,93.464326,595.029909,13797.0,11218.0,866.501397,37.656531,126.948402,2019/03/30 06:21:24,1000280,903.8,HIKING,MALE,55,3.724129
4,Area_A,done_1000362.gpx,9.686142,5.252011,37.080000,686.458333,11799.0,2432.0,745.818283,37.653390,126.939113,2019/03/30 09:23:18,1000362,993.1,HIKING,MALE,60,2.955344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77664,Area_H,done_997163.gpx,2.562580,5.622266,140.466822,375.207855,3248.0,1888.0,250.897554,37.620127,126.936631,2019/03/09 12:01:51,997163,276.4,HIKING,MALE,60,2.840298
77665,Area_H,done_997845.gpx,0.960750,9.481209,57.000000,136.700000,968.0,516.0,79.781414,37.609766,126.935030,2019/03/30 10:32:40,997845,54.6,WALKING,MALE,65,3.573036
77666,Area_H,done_998345.gpx,4.929962,6.341899,41.052109,363.586952,5488.0,1451.0,355.705408,37.611322,126.930609,2019/03/30 09:37:16,998345,552.8,HIKING,MALE,55,3.233940
77667,Area_H,done_998754.gpx,2.699804,6.672342,40.159577,133.159446,2981.0,469.0,105.146310,37.615151,126.931100,2019/03/30 11:00:18,998754,196.0,WALKING,MALE,45,3.260414
77668,Area_H,done_999912.gpx,5.790648,5.902348,114.826148,574.743372,6475.0,5330.0,392.774636,37.616228,126.939565,2019/03/30 09:44:38,999912,578.4,HIKING,MALE,55,3.219511

In [119]:
df2019_fin.corr()

,track_length,top_speed,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_log,number,Kcal,age,dist/hour
track_length,1.000000,-0.001686,-0.136224,0.477991,0.909642,0.000024,0.753799,-0.112914,-0.164637,0.039574,0.387274,0.043495,-0.077409
top_speed,-0.001686,1.000000,-0.130588,-0.174661,-0.158029,0.026222,-0.097404,0.065792,0.080258,-0.011495,-0.072579,-0.023737,0.376493
lowest_ele,-0.136224,-0.130588,1.000000,0.320597,-0.043195,-0.004832,0.034258,-0.069849,-0.148271,-0.003904,-0.004861,-0.068061,-0.221786
top_ele,0.477991,-0.174661,0.320597,1.000000,0.640677,0.002463,0.778724,-0.150621,-0.317923,0.047129,0.316294,-0.052771,-0.464124
moving_time,0.909642,-0.158029,-0.043195,0.640677,1.000000,0.000882,0.820500,-0.158589,-0.246498,0.044143,0.428487,0.039906,-0.343382
stopped_time,0.000024,0.026222,-0.004832,0.002463,0.000882,1.000000,0.000948,0.002773,0.000345,0.008736,-0.001002,0.004011,-0.000343
elevation_gain,0.753799,-0.097404,0.034258,0.778724,0.820500,0.000948,1.000000,-0.151306,-0.280009,0.106563,0.382889,-0.029938,-0.304361
p1_lat,-0.112914,0.065792,-0.069849,-0.150621,-0.158589,0.002773,-0.151306,1.000000,0.666207,-0.003826,-0.071640,-0.047121,0.169730
p1_log,-0.164637,0.080258,-0.148271,-0.317923,-0.246498,0.000345,-0.280009,0.666207,1.000000,-0.018014,-0.126234,-0.010851,0.225435
number,0.039574,-0.011495,-0.003904,0.047129,0.044143,0.008736,0.106563,-0.003826,-0.018014,1.000000,0.006224,-0.054073,0.000330
Kcal,0.387274,-0.072579,-0.004861,0.316294,0.428487,-0.001002,0.382889,-0.071640,-0.126234,0.006224,1.000000,0.008184,-0.158075
age,0.043495,-0.023737,-0.068061,-0.052771,0.039906,0.004011,-0.029938,-0.047121,-0.010851,-0.054073,0.008184,1.000000,-0.037219
dist/hour,-0.077409,0.376493,-0.221786,-0.464124,-0.343382,-0.000343,-0.304361,0.169730,0.225435,0.000330,-0.158075,-0.037219,1.000000

In [93]:
# 이상치를 제거한 데이터프레임을 groupby로 묶어서 보기

df2019_fin.groupby(['age', 'sex','name']).count()

                   f_name  track_length  top_speed  lowest_ele  top_ele  \
age sex    name
20  FEMALE Area_B       1             1          1           1        1
           Area_E       1             1          1           1        1
           Area_F       1             1          1           1        1
           Area_G       5             5          5           5        5
    MALE   Area_A       5             5          5           5        5
...                   ...           ...        ...         ...      ...
65  MALE   Area_D     728           728        728         728      728
           Area_E    1688          1688       1688        1688     1688
           Area_F    1285          1285       1285        1285     1285
           Area_G     409           409        409         409      409
           Area_H    1306          1306       1306        1306     1306

                   moving_time  stopped_time  elevation_gain  p1_lat  p1_log  \
age sex    name
20  FEMALE Area_B            1             1               1       1       1
           Area_E            1             1               1       1       1
           Area_F            1             1               1       1       1
           Area_G            5             5               5       5       5
    MALE   Area_A            5             5               5       5       5
...                        ...           ...             ...     ...     ...
65  MALE   Area_D          728           728             728     728     728
           Area_E         1688          1688            1688    1688    1688
           Area_F         1285          1285            1285    1285    1285
           Area_G          409           409             409     409     409
           Area_H         1306          1306            1306    1306    1306

                   p1_time  number  Kcal  sports_type  dist/hour
age sex    name
20  FEMALE Area_B        1       1     1            1          1
           Area_E        1       1     1            1          1
           Area_F        1       1     1            1          1
           Area_G        5       5     5            5          5
    MALE   Area_A        5       5     5            5          5
...                    ...     ...   ...          ...        ...
65  MALE   Area_D      728     728   728          728        728
           Area_E     1688    1688  1688         1688       1688
           Area_F     1285    1285  1285         1285       1285
           Area_G      409     409   409          409        409
           Area_H     1306    1306  1306         1306       1306

[153 rows x 15 columns]

In [94]:
# 최종 파일 csv 파일로 저장하기
df2019_fin.to_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2019_preprocess/df2019_preprocess_0819.csv')

# 2020년 데이처 전처리

In [95]:
# 그룹별로 묶어진 2020년 데이터 불러오기

Area_A_2020 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2020_preprocess/2020_Area_A.csv')
Area_B_2020 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2020_preprocess/2020_Area_B.csv')
Area_C_2020 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2020_preprocess/2020_Area_C.csv')
Area_D_2020 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2020_preprocess/2020_Area_D.csv')
Area_E_2020 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2020_preprocess/2020_Area_E.csv')
Area_F_2020 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2020_preprocess/2020_Area_F.csv')
Area_G_2020 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2020_preprocess/2020_Area_G.csv')
Area_H_2020 = pd.read_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2020_preprocess/2020_Area_H.csv')

In [96]:
# 불러온 데이터의 전체 개수

print(len(Area_A_2020) + len(Area_B_2020) + len(Area_C_2020) + len(Area_D_2020) 
      + len(Area_E_2020) + len(Area_F_2020) + len(Area_G_2020) + len(Area_H_2020))

105781

In [99]:
# Area_A ~ Area_H 까지의 데이터프레임을 하나의 데이터프레임으로 만들기

df2020 = pd.concat([Area_A_2020, Area_B_2020, Area_C_2020, 
                    Area_D_2020, Area_E_2020, Area_F_2020, 
                    Area_G_2020, Area_H_2020]) # 파일 합치기
df2020.drop('id', axis=1, inplace=True) #'id' 열 drop
df2020.reset_index(inplace=True) # index 번호 재설정
df2020.drop('index', axis=1,inplace=True) # index 열 삭제
df2020.drop('field_1', axis=1,inplace=True) # filed_1 열 삭제
df2020

,name,f_name,track_length,top_speed,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_log,p1_time
0,Area_A,done_1001355.gpx,7.066400,5.531127,54.000000,519.000000,8348,3498,661.300000,37.655907,126.948296,2020/03/11 01:50:46
1,Area_A,done_1003340.gpx,12.108515,6.651625,67.000000,736.000000,11780,1294,1147.400000,37.659700,126.949227,2020/03/11 02:18:49
2,Area_A,done_1004428.gpx,10.029985,5.297829,48.743685,699.197136,12882,9192,937.254345,37.657809,126.946591,2020/02/29 10:43:53
3,Area_A,done_100447.gpx,8.144650,5.670807,43.463272,605.109647,8481,14201,641.750351,37.654951,126.949052,2020/01/08 10:11:04
4,Area_A,done_1004925.gpx,5.688433,6.911444,59.922306,508.547034,5371,817,515.297004,37.655428,126.949444,2020/03/14 07:38:11
...,...,...,...,...,...,...,...,...,...,...,...,...
105776,Area_H,done_998184.gpx,9.409962,5.776889,34.910156,575.971680,11338,6895,1046.458236,37.609296,126.931307,2020/03/13 11:51:49
105777,Area_H,done_998274.gpx,12.684133,5.820330,0.000000,776.330625,13450,2963,1119.499765,37.609368,126.932472,2020/03/13 12:28:33
105778,Area_H,done_999031.gpx,6.378044,5.423646,52.906738,355.840088,6626,6966,712.631672,37.610644,126.941438,2020/02/13 11:10:00
105779,Area_H,done_999107.gpx,2.198252,5.401293,69.744238,385.993380,3012,190,298.958198,37.614327,126.934051,2020/03/13 17:01:11
105780,Area_H,done_999180.gpx,19.338602,7.676728,53.759094,848.799805,18888,12295,2071.092875,37.614101,126.932843,2020/03/11 23:12:11

In [101]:
# 통계 excel 파일 불러오기

xlsx2020 = pd.read_excel('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터/국립공원공단_북한산트레킹2019_2020_이용자연령성별데이터.xlsx', header=1, sheet_name=1)
xlsx2020 = xlsx2020[['번호', '소모Kcal','운동 종목', '성별', '연령','gpx파일']]
xlsx2020

               번호  소모Kcal    운동 종목      성별    연령             gpx파일
0       7645735.0   663.8   HIKING  FEMALE  20.0  done_7645735.gpx
1       7629626.0   296.7   HIKING    MALE  20.0  done_7629626.gpx
2       7617690.0   490.5   HIKING  FEMALE  20.0  done_7617690.gpx
3       7612677.0   260.3   HIKING    MALE  20.0  done_7612677.gpx
4       7576124.0   359.0   HIKING    MALE  20.0  done_7576124.gpx
...           ...     ...      ...     ...   ...               ...
208178     5604.0    47.0  WALKING    MALE  65.0     done_5604.gpx
208179     5464.0    57.5  WALKING    MALE  65.0     done_5464.gpx
208180     5328.0    36.3  WALKING    MALE  65.0     done_5328.gpx
208181     3693.0   121.0  WALKING    MALE  65.0     done_3693.gpx
208182        NaN     NaN      NaN     NaN   NaN               NaN

[208183 rows x 6 columns]

In [102]:
# 열 이름 바꾸기

xlsx2020 = xlsx2020.rename({'gpx파일' : 'f_name',
                            '번호':'number', 
                            '소모Kcal': 'Kcal', 
                            '운동 종목':'sports_type',
                            '성별':'sex',
                            '연령':'age'}, axis=1)
xlsx2020

           number   Kcal sports_type     sex   age            f_name
0       7645735.0  663.8      HIKING  FEMALE  20.0  done_7645735.gpx
1       7629626.0  296.7      HIKING    MALE  20.0  done_7629626.gpx
2       7617690.0  490.5      HIKING  FEMALE  20.0  done_7617690.gpx
3       7612677.0  260.3      HIKING    MALE  20.0  done_7612677.gpx
4       7576124.0  359.0      HIKING    MALE  20.0  done_7576124.gpx
...           ...    ...         ...     ...   ...               ...
208178     5604.0   47.0     WALKING    MALE  65.0     done_5604.gpx
208179     5464.0   57.5     WALKING    MALE  65.0     done_5464.gpx
208180     5328.0   36.3     WALKING    MALE  65.0     done_5328.gpx
208181     3693.0  121.0     WALKING    MALE  65.0     done_3693.gpx
208182        NaN    NaN         NaN     NaN   NaN               NaN

[208183 rows x 6 columns]

In [103]:
# 2020년 통계파일과 범위별 csv파일 합치기

df2020_all = pd.merge(df2020,xlsx2020,on='f_name',how='outer')
df2020_all

,name,f_name,track_length,top_speed,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_log,p1_time,number,Kcal,sports_type,sex,age
0,Area_A,done_1001355.gpx,7.066400,5.531127,54.000000,519.000000,8348.0,3498.0,661.300000,37.655907,126.948296,2020/03/11 01:50:46,1001355.0,769.6,HIKING,MALE,60.0
1,Area_A,done_1003340.gpx,12.108515,6.651625,67.000000,736.000000,11780.0,1294.0,1147.400000,37.659700,126.949227,2020/03/11 02:18:49,1003340.0,871.7,HIKING,FEMALE,45.0
2,Area_A,done_1004428.gpx,10.029985,5.297829,48.743685,699.197136,12882.0,9192.0,937.254345,37.657809,126.946591,2020/02/29 10:43:53,1004428.0,1600.0,HIKING,MALE,50.0
3,Area_A,done_100447.gpx,8.144650,5.670807,43.463272,605.109647,8481.0,14201.0,641.750351,37.654951,126.949052,2020/01/08 10:11:04,100447.0,568.2,HIKING,FEMALE,45.0
4,Area_A,done_1004925.gpx,5.688433,6.911444,59.922306,508.547034,5371.0,817.0,515.297004,37.655428,126.949444,2020/03/14 07:38:11,1004925.0,606.3,HIKING,MALE,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208178,NaN,done_5604.gpx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5604.0,47.0,WALKING,MALE,65.0
208179,NaN,done_5464.gpx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5464.0,57.5,WALKING,MALE,65.0
208180,NaN,done_5328.gpx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5328.0,36.3,WALKING,MALE,65.0
208181,NaN,done_3693.gpx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3693.0,121.0,WALKING,MALE,65.0
208182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
# 2020년 데이터  결측값이 있는 열 제거
df2020_all.dropna(inplace=True)

# 성별의 'NONE'을 결측값으로 바꾸기
df2020_all['sex'].replace('NONE',np.nan, inplace=True)

#결측값이 있는 열 제거
df2020_all.dropna(inplace=True)
df2020_all

,name,f_name,track_length,top_speed,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_log,p1_time,number,Kcal,sports_type,sex,age
0,Area_A,done_1001355.gpx,7.066400,5.531127,54.000000,519.000000,8348.0,3498.0,661.300000,37.655907,126.948296,2020/03/11 01:50:46,1001355.0,769.6,HIKING,MALE,60.0
1,Area_A,done_1003340.gpx,12.108515,6.651625,67.000000,736.000000,11780.0,1294.0,1147.400000,37.659700,126.949227,2020/03/11 02:18:49,1003340.0,871.7,HIKING,FEMALE,45.0
2,Area_A,done_1004428.gpx,10.029985,5.297829,48.743685,699.197136,12882.0,9192.0,937.254345,37.657809,126.946591,2020/02/29 10:43:53,1004428.0,1600.0,HIKING,MALE,50.0
3,Area_A,done_100447.gpx,8.144650,5.670807,43.463272,605.109647,8481.0,14201.0,641.750351,37.654951,126.949052,2020/01/08 10:11:04,100447.0,568.2,HIKING,FEMALE,45.0
4,Area_A,done_1004925.gpx,5.688433,6.911444,59.922306,508.547034,5371.0,817.0,515.297004,37.655428,126.949444,2020/03/14 07:38:11,1004925.0,606.3,HIKING,MALE,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105776,Area_H,done_998184.gpx,9.409962,5.776889,34.910156,575.971680,11338.0,6895.0,1046.458236,37.609296,126.931307,2020/03/13 11:51:49,998184.0,1047.1,HIKING,MALE,50.0
105777,Area_H,done_998274.gpx,12.684133,5.820330,0.000000,776.330625,13450.0,2963.0,1119.499765,37.609368,126.932472,2020/03/13 12:28:33,998274.0,1222.0,HIKING,MALE,55.0
105778,Area_H,done_999031.gpx,6.378044,5.423646,52.906738,355.840088,6626.0,6966.0,712.631672,37.610644,126.941438,2020/02/13 11:10:00,999031.0,1005.7,HIKING,MALE,60.0
105779,Area_H,done_999107.gpx,2.198252,5.401293,69.744238,385.993380,3012.0,190.0,298.958198,37.614327,126.934051,2020/03/13 17:01:11,999107.0,245.3,HIKING,MALE,40.0
105780,Area_H,done_999180.gpx,19.338602,7.676728,53.759094,848.799805,18888.0,12295.0,2071.092875,37.614101,126.932843,2020/03/11 23:12:11,999180.0,1702.4,HIKING,MALE,50.0

In [105]:
# groupby로 나이와 성별로 묶기

count_2020 = df2020_all.groupby(['age', 'sex']).count()
count_2020

              name  f_name  track_length  top_speed  lowest_ele  top_ele  \
age  sex
20.0 FEMALE     92      92            92         92          92       92
     MALE       55      55            55         55          55       55
25.0 FEMALE    587     587           587        587         587      587
     MALE      378     378           378        378         378      378
30.0 FEMALE   1181    1181          1181       1181        1181     1181
     MALE     1502    1502          1502       1502        1502     1502
35.0 FEMALE   1069    1069          1069       1069        1069     1069
     MALE     2176    2176          2176       2176        2176     2176
40.0 FEMALE   1098    1098          1098       1098        1098     1098
     MALE     3967    3967          3967       3967        3967     3967
45.0 FEMALE   2998    2998          2998       2998        2998     2998
     MALE     8076    8076          8076       8076        8076     8076
50.0 FEMALE   6282    6282          6282       6282        6282     6282
     MALE    17469   17469         17469      17469       17469    17469
55.0 FEMALE   4662    4662          4662       4662        4662     4662
     MALE    18885   18885         18885      18885       18885    18885
60.0 FEMALE   3140    3140          3140       3140        3140     3140
     MALE    18473   18473         18473      18473       18473    18473
65.0 FEMALE    940     940           940        940         940      940
     MALE     9551    9551          9551       9551        9551     9551

             moving_time  stopped_time  elevation_gain  p1_lat  p1_log  \
age  sex
20.0 FEMALE           92            92              92      92      92
     MALE             55            55              55      55      55
25.0 FEMALE          587           587             587     587     587
     MALE            378           378             378     378     378
30.0 FEMALE         1181          1181            1181    1181    1181
     MALE           1502          1502            1502    1502    1502
35.0 FEMALE         1069          1069            1069    1069    1069
     MALE           2176          2176            2176    2176    2176
40.0 FEMALE         1098          1098            1098    1098    1098
     MALE           3967          3967            3967    3967    3967
45.0 FEMALE         2998          2998            2998    2998    2998
     MALE           8076          8076            8076    8076    8076
50.0 FEMALE         6282          6282            6282    6282    6282
     MALE          17469         17469           17469   17469   17469
55.0 FEMALE         4662          4662            4662    4662    4662
     MALE          18885         18885           18885   18885   18885
60.0 FEMALE         3140          3140            3140    3140    3140
     MALE          18473         18473           18473   18473   18473
65.0 FEMALE          940           940             940     940     940
     MALE           9551          9551            9551    9551    9551

             p1_time  number   Kcal  sports_type
age  sex
20.0 FEMALE       92      92     92           92
     MALE         55      55     55           55
25.0 FEMALE      587     587    587          587
     MALE        378     378    378          378
30.0 FEMALE     1181    1181   1181         1181
     MALE       1502    1502   1502         1502
35.0 FEMALE     1069    1069   1069         1069
     MALE       2176    2176   2176         2176
40.0 FEMALE     1098    1098   1098         1098
     MALE       3967    3967   3967         3967
45.0 FEMALE     2998    2998   2998         2998
     MALE       8076    8076   8076         8076
50.0 FEMALE     6282    6282   6282         6282
     MALE      17469   17469  17469        17469
55.0 FEMALE     4662    4662   4662         4662
     MALE      18885   18885  18885        18885
60.0 FEMALE     3140    3140   3140         3140
     MALE      18473   18473  18473        18473
65.0 FEMALE      940     940    940          940
     MALE       9551    9551   9551         9551

In [106]:
# top_speed의 이상치를 알아보기 위한 작업

# box plot의 이상치
Q1_speed = df2020_all['top_speed'].quantile(0.25)
Q3_speed = df2020_all['top_speed'].quantile(0.75)
IQR_speed = Q3_speed - Q1_speed

upper_bound_speed = Q3_speed + (IQR_speed*1.5) # 이상치 상한선
lower_bound_speed = Q1_speed - (IQR_speed*1.5) # 이상치 하한선

In [107]:
# 상한선 이상의 행 개수
df2019_all['top_speed'].loc[df2019_all['top_speed'] > upper_bound_speed].count()

9671

In [109]:
# 인간이 달릴 수 있는 최고 속도가 45km/h -> 구글링 결과
# top_speed가 45 이상인 값 제거하기

df2020_speed = df2020_all.loc[df2020_all['top_speed'] < 45]
df2020_speed

,name,f_name,track_length,top_speed,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_log,p1_time,number,Kcal,sports_type,sex,age
0,Area_A,done_1001355.gpx,7.066400,5.531127,54.000000,519.000000,8348.0,3498.0,661.300000,37.655907,126.948296,2020/03/11 01:50:46,1001355.0,769.6,HIKING,MALE,60.0
1,Area_A,done_1003340.gpx,12.108515,6.651625,67.000000,736.000000,11780.0,1294.0,1147.400000,37.659700,126.949227,2020/03/11 02:18:49,1003340.0,871.7,HIKING,FEMALE,45.0
2,Area_A,done_1004428.gpx,10.029985,5.297829,48.743685,699.197136,12882.0,9192.0,937.254345,37.657809,126.946591,2020/02/29 10:43:53,1004428.0,1600.0,HIKING,MALE,50.0
3,Area_A,done_100447.gpx,8.144650,5.670807,43.463272,605.109647,8481.0,14201.0,641.750351,37.654951,126.949052,2020/01/08 10:11:04,100447.0,568.2,HIKING,FEMALE,45.0
4,Area_A,done_1004925.gpx,5.688433,6.911444,59.922306,508.547034,5371.0,817.0,515.297004,37.655428,126.949444,2020/03/14 07:38:11,1004925.0,606.3,HIKING,MALE,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105776,Area_H,done_998184.gpx,9.409962,5.776889,34.910156,575.971680,11338.0,6895.0,1046.458236,37.609296,126.931307,2020/03/13 11:51:49,998184.0,1047.1,HIKING,MALE,50.0
105777,Area_H,done_998274.gpx,12.684133,5.820330,0.000000,776.330625,13450.0,2963.0,1119.499765,37.609368,126.932472,2020/03/13 12:28:33,998274.0,1222.0,HIKING,MALE,55.0
105778,Area_H,done_999031.gpx,6.378044,5.423646,52.906738,355.840088,6626.0,6966.0,712.631672,37.610644,126.941438,2020/02/13 11:10:00,999031.0,1005.7,HIKING,MALE,60.0
105779,Area_H,done_999107.gpx,2.198252,5.401293,69.744238,385.993380,3012.0,190.0,298.958198,37.614327,126.934051,2020/03/13 17:01:11,999107.0,245.3,HIKING,MALE,40.0
105780,Area_H,done_999180.gpx,19.338602,7.676728,53.759094,848.799805,18888.0,12295.0,2071.092875,37.614101,126.932843,2020/03/11 23:12:11,999180.0,1702.4,HIKING,MALE,50.0

In [110]:
# top_speed가 상한선 이상인 것을 제거 -> 사용 안 함

df2020_all_re = df2020_all.loc[df2020_all['top_speed'] < upper_bound_speed]

In [111]:
# 트랙 길이 / 움직인 시간(hour)

df2020_speed['dist/hour'] = df2020_speed['track_length']/(df2020_speed['moving_time']/3600)

<ipython-input-111-490e5e753d98>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2020_speed['dist/hour'] = df2020_speed['track_length']/(df2020_speed['moving_time']/3600)

In [113]:
# 거리/시간의 값이 30 이상인 것 제거하기

df2020_speed.loc[df2020_speed['dist/hour']>30].count()
df2020_dist = df2020_speed.loc[df2020_speed['dist/hour']<30]

In [114]:
# 고도의 최저값이 0 이하인 것 제거하기

df2020_dist.loc[df2020_dist['lowest_ele']<0].count()
df2020_fin = df2020_dist.loc[df2020_dist['lowest_ele']>0]
df2020_fin

,name,f_name,track_length,top_speed,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_log,p1_time,number,Kcal,sports_type,sex,age,dist/hour
0,Area_A,done_1001355.gpx,7.066400,5.531127,54.000000,519.000000,8348.0,3498.0,661.300000,37.655907,126.948296,2020/03/11 01:50:46,1001355.0,769.6,HIKING,MALE,60.0,3.047322
1,Area_A,done_1003340.gpx,12.108515,6.651625,67.000000,736.000000,11780.0,1294.0,1147.400000,37.659700,126.949227,2020/03/11 02:18:49,1003340.0,871.7,HIKING,FEMALE,45.0,3.700395
2,Area_A,done_1004428.gpx,10.029985,5.297829,48.743685,699.197136,12882.0,9192.0,937.254345,37.657809,126.946591,2020/02/29 10:43:53,1004428.0,1600.0,HIKING,MALE,50.0,2.802977
3,Area_A,done_100447.gpx,8.144650,5.670807,43.463272,605.109647,8481.0,14201.0,641.750351,37.654951,126.949052,2020/01/08 10:11:04,100447.0,568.2,HIKING,FEMALE,45.0,3.457227
4,Area_A,done_1004925.gpx,5.688433,6.911444,59.922306,508.547034,5371.0,817.0,515.297004,37.655428,126.949444,2020/03/14 07:38:11,1004925.0,606.3,HIKING,MALE,50.0,3.812765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105775,Area_H,done_996635.gpx,11.235900,5.620222,38.000000,738.000000,13455.0,4187.0,1144.200000,37.610799,126.929891,2020/03/13 10:27:40,996635.0,1007.8,HIKING,MALE,50.0,3.006261
105776,Area_H,done_998184.gpx,9.409962,5.776889,34.910156,575.971680,11338.0,6895.0,1046.458236,37.609296,126.931307,2020/03/13 11:51:49,998184.0,1047.1,HIKING,MALE,50.0,2.987817
105778,Area_H,done_999031.gpx,6.378044,5.423646,52.906738,355.840088,6626.0,6966.0,712.631672,37.610644,126.941438,2020/02/13 11:10:00,999031.0,1005.7,HIKING,MALE,60.0,3.465282
105779,Area_H,done_999107.gpx,2.198252,5.401293,69.744238,385.993380,3012.0,190.0,298.958198,37.614327,126.934051,2020/03/13 17:01:11,999107.0,245.3,HIKING,MALE,40.0,2.627393
105780,Area_H,done_999180.gpx,19.338602,7.676728,53.759094,848.799805,18888.0,12295.0,2071.092875,37.614101,126.932843,2020/03/11 23:12:11,999180.0,1702.4,HIKING,MALE,50.0,3.685884

In [115]:
df2019_fin.reset_index(inplace=True)
df2019_fin.drop('index', axis=1, inplace=True)
df2019_fin

C:\Users\Public\anaconda3\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,name,f_name,track_length,top_speed,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_log,p1_time,number,Kcal,sports_type,sex,age,dist/hour
0,Area_A,done_1000107.gpx,9.320403,7.409756,67.969316,720.919305,10778.0,4874.0,733.944417,37.658152,126.945689,2019/03/30 08:50:07,1000107,868.4,HIKING,MALE,50,3.113142
1,Area_A,done_1000237.gpx,6.942576,4.591195,93.000000,855.000000,8821.0,7403.0,839.243529,37.655048,126.949383,2019/03/30 08:46:22,1000237,1041.5,HIKING,MALE,50,2.833383
2,Area_A,done_1000255.gpx,7.071574,4.968819,78.613829,846.806536,8981.0,7881.0,865.618865,37.655126,126.949188,2019/03/30 08:36:52,1000255,750.7,HIKING,MALE,55,2.834614
3,Area_A,done_1000280.gpx,14.272724,7.986318,93.464326,595.029909,13797.0,11218.0,866.501397,37.656531,126.948402,2019/03/30 06:21:24,1000280,903.8,HIKING,MALE,55,3.724129
4,Area_A,done_1000362.gpx,9.686142,5.252011,37.080000,686.458333,11799.0,2432.0,745.818283,37.653390,126.939113,2019/03/30 09:23:18,1000362,993.1,HIKING,MALE,60,2.955344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77664,Area_H,done_997163.gpx,2.562580,5.622266,140.466822,375.207855,3248.0,1888.0,250.897554,37.620127,126.936631,2019/03/09 12:01:51,997163,276.4,HIKING,MALE,60,2.840298
77665,Area_H,done_997845.gpx,0.960750,9.481209,57.000000,136.700000,968.0,516.0,79.781414,37.609766,126.935030,2019/03/30 10:32:40,997845,54.6,WALKING,MALE,65,3.573036
77666,Area_H,done_998345.gpx,4.929962,6.341899,41.052109,363.586952,5488.0,1451.0,355.705408,37.611322,126.930609,2019/03/30 09:37:16,998345,552.8,HIKING,MALE,55,3.233940
77667,Area_H,done_998754.gpx,2.699804,6.672342,40.159577,133.159446,2981.0,469.0,105.146310,37.615151,126.931100,2019/03/30 11:00:18,998754,196.0,WALKING,MALE,45,3.260414
77668,Area_H,done_999912.gpx,5.790648,5.902348,114.826148,574.743372,6475.0,5330.0,392.774636,37.616228,126.939565,2019/03/30 09:44:38,999912,578.4,HIKING,MALE,55,3.219511

In [116]:
# 이상치를 제거한 데이터프레임을 groupby로 묶어서 보기

df2020_fin.groupby(['age', 'sex','name']).count()

                    f_name  track_length  top_speed  lowest_ele  top_ele  \
age  sex    name
20.0 FEMALE Area_A       9             9          9           9        9
            Area_B       1             1          1           1        1
            Area_D      11            11         11          11       11
            Area_E      51            51         51          51       51
            Area_F      15            15         15          15       15
...                    ...           ...        ...         ...      ...
65.0 MALE   Area_D    1200          1200       1200        1200     1200
            Area_E    2106          2106       2106        2106     2106
            Area_F    1675          1675       1675        1675     1675
            Area_G     534           534        534         534      534
            Area_H    1157          1157       1157        1157     1157

                    moving_time  stopped_time  elevation_gain  p1_lat  p1_log  \
age  sex    name
20.0 FEMALE Area_A            9             9               9       9       9
            Area_B            1             1               1       1       1
            Area_D           11            11              11      11      11
            Area_E           51            51              51      51      51
            Area_F           15            15              15      15      15
...                         ...           ...             ...     ...     ...
65.0 MALE   Area_D         1200          1200            1200    1200    1200
            Area_E         2106          2106            2106    2106    2106
            Area_F         1675          1675            1675    1675    1675
            Area_G          534           534             534     534     534
            Area_H         1157          1157            1157    1157    1157

                    p1_time  number  Kcal  sports_type  dist/hour
age  sex    name
20.0 FEMALE Area_A        9       9     9            9          9
            Area_B        1       1     1            1          1
            Area_D       11      11    11           11         11
            Area_E       51      51    51           51         51
            Area_F       15      15    15           15         15
...                     ...     ...   ...          ...        ...
65.0 MALE   Area_D     1200    1200  1200         1200       1200
            Area_E     2106    2106  2106         2106       2106
            Area_F     1675    1675  1675         1675       1675
            Area_G      534     534   534          534        534
            Area_H     1157    1157  1157         1157       1157

[157 rows x 15 columns]

In [118]:
# 최종 파일 csv 파일로 저장하기
df2020_fin.to_csv('C:/Users/박연재/Desktop/국립공원공단/트랭글데이터 분석/trangle2020_preprocess/df2020_preprocess_0819.csv')